<?xml version="1.0"?>

<launch>
  <arg name="scan_topic" default="scan"/>
  <arg name="scan_frame" default="/hokuyo_link"/>
  <arg name="scan_dev" default="/dev/sensors/hokuyo_urg"/>
  <arg name="joy_config" default="elecom_joy"/>
  <arg name="joy_dev" default="/dev/input/js0"/>
  
  <include file="$(find t_frog_driver)/launch/teleop_joy.launch">
    <arg name="joy_config" value="$(arg joy_config)"/>
    <arg name="joy_dev" value="$(arg joy_dev)"/>
  </include>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
    <param name="frame_id" value="$(arg scan_frame)"/>
    <param name="port" value="$(arg scan_dev)"/>
  </node>
  
  <include file="$(find t_frog_slam)/launch/gmapping.launch">
    <arg name="scan_topic" value="$(arg scan_topic)"/>
  </include>

</launch>

